body {
    background-color: hsl(270, 20%, 96%);
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}


div.reversed-purple-shape {
    width: 31.25rem;
    height: 40.625rem;
    margin-right: -5rem;
    margin-top: 5%;
    margin-bottom: 0rem;
    background-image: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    opacity: 10%;
    border-top-left-radius: 18.75rem;
    border-top-right-radius: 18.75rem;
}