body {
    background-color: hsl(270, 20%, 96%);
}

div.purple-shape {
    flex-shrink: 0;
    width: 31.25rem;
    height: 40.625rem;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-bottom-left-radius: 18.75rem;
    border-bottom-right-radius: 18.75rem;
    margin-top: -0.9375rem;
    margin-left: -5rem;

}